<header class="page-header">
    <div class="container">
        <div class="page-header__content">
            <div>
                <img src="/assets/logo.png" class="logo" width="120rem">
            </div>
            <nav>

                <ul role="list" class="nav-list flex-group">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/blog/">About Me</a>
                    </li>
                    <li>
                        <a href="/blog/">Contact</a>
                    </li>
                    <li>
                        <a href="/blog/">Projects</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>